#get-started{
    padding: 100px;
    background-color: #f5f5f5;
}
.iconfont {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #fff;
    border-radius: 47%;
    box-shadow: 6px 2px 5px #eee;
    color: #410c05;
    float: right;
    font-size: 28px;
    height: 35px;
    margin-top: 45px;
    padding: 12px;
    text-align: center;
    width: 35px;
}
.iconfont2 {
   background: #fff none repeat scroll 0 0;
    border: 1px solid #fff;
    border-radius: 47%;
    box-shadow: -6px 2px 5px #eee;
    color: #410c05;
    float: left;
    font-size: 28px;
    height: 35px;
    margin-top: 45px;
    padding: 12px;
    text-align: center;
    width: 35px;
}
.textright
{
    text-align:right;
    margin-top:35px;
    margin-bottom:35px;
}
.textleft
{
    text-align:left;
    margin-top:35px;
    margin-bottom:35px;
}
.textcenter
{
    text-align:center;
}

a {
    color: #410c05;
    text-decoration: none;
}
a:hover {
    color: #ddd;
    text-decoration: none;
}