.social-links {
    list-style: outside none none;
    margin: 0 0 20px 0px;
    padding: 35px 0;
}
.social-links li {
    display: inline-block;
    margin: 5px;
}
.social-links a {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 3px;
    color: rgba(255, 255, 255, 0.2);
    background-color: #1c1e35;
    display: block;
    font-size: 28px;
    height: 50px;
    line-height: 45px;
    text-align: center;
    width: 50px;
}
.social-links a:hover {
    border: 1px solid rgba(255, 255, 255, 0.5);
    color: rgba(255, 255, 255, 0.8);
}