#why-react {
    display: block;
    background-size:10%;
    padding: 100px;
    width: 100%;   
    overflow:hidden;
}
#why-react h1 {
    font-size: 42px !important;
    font-family: "Oswald";
    text-align: center;
    color: #31363b;
}
#why-react h2{
    padding-bottom: 20px;
    font-weight: bold;
}
#why-react span {
    color: #801a0d;
}
#why-react p {
    text-align: justify;
    margin-top: 20px;
}